.playButton {
  background-color: #33bfcaff;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: 2px solid #8080ffff;
  color: black;
}
#global-controls {
  appearance: none;
  margin: 0px;
  padding: 0px;
  border: 2px solid #8080ffff;
  background: transparent;
  color: transparent;
  overflow: visible;
  height: 2px;
  border-radius: px;
}
